.box{
    width: 100px;
    height: 100px;
    position: relative;
    background: tomato;
}
.box::before{
    width: 0;
    height: 0;
    content: '';
    border-top: 20px solid tomato;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 30px;
    top: 100px;   
}